.login {
  margin: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabeseraLogin {
  text-align: center;
}

.login .carDispo .carConten .formContainer {
  display: flex;
  flex-direction: column;
}
