.containerLogin {
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nombreApp {
  color: white;
}

.carousel {
  width: 50%;
}

.Contener h1.ant-typography {
  color: white;
}
.Banner {
  background-color: yellow;
  color: white;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ant-alert-error {
  width: 100%;
}

.infoFormulario {
  padding: 20px;
  width: 100%;
}

.textoInfo {
  text-align: center;
}

.inputInfoUser {
  width: 100%;
}

.botonesLogin {
  display: flex;
  flex-direction: column;
}

.data {
  margin-left: 10px;
  text-align: center;
}

.sigIn {
  text-align: left;
}

p {
  margin-top: 5px;
  margin-bottom: -2px;
}
