.data {
  height: 100%;
  padding: 5%;
}
.title h1.ant-typography {
  color: white;
}

.terminosCondiciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
